@font-face {
	font-family: 'Clappr';
	src: url('fonts/Clappr-Regular.eot');
	src: url('fonts/Clappr-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Clappr-Regular.ttf') format('truetype'),
	url('fonts/Clappr-Regular.svg#clappr') format('svg');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}

.shadow {
	text-shadow: 0 0 5px rgba(0,0,0,0.75);
}

.button {
	background: transparent;
	padding: 15px 20px 15px 20px;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	font-size: 15px;
	outline:none;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

#view-on-github:active {
	margin-top: 2px;
}

.page-container {
	width: 100%;
	min-height: 100%;
	/*overflow-x: hidden;*/
}

.buttons {
	position: relative;
	display: inline-block;
	top: 50px;
}


.page-img-full {
	width: 100%;
	height: 100%;
	background-image: url(http://s2.glbimg.com/j-Rv_ELk8kRt_U-2-p5osAtsbEA=/2560x1440/http://s.glbimg.com/en/ho/static/thumbor/sample-image3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}

.page-img-full .img-layer {
	/*background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(20%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* W3C */
	width: 100%;
	height: 100%;
}
/* Colors
================*/
.default-color {
	background: rgb(235, 222, 222);
}

.reverse-color {
	background: rgb(54, 54, 54);
}


/*	Menu
================*/
.page-menu {
	position: absolute;
	right: 3%;
	top: 3%;
	z-index: 50;
}

/*menu toggle*/
.page-menu .menu {
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;

	width: 45px;
	padding: 5px;

	display: inline-block;
	float: right;
}

.page-menu .menu .menu-line {
	border-radius: 2px;
	padding: 3px;
	margin-bottom: 3px;
	background: white;
}

.page-menu .menu .menu-line:first-child {
	margin-top: 3px;
}

/*	Menu Container (mobile)
================*/

.menu-container {
	background: rgb(54, 54, 54);
	margin-top: 5px;
	opacity: 0;
	transition: all 1s;
	float: right;
	clear: both;
}
.page-menu .menu-container a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

.menu-container.active {
	opacity: 1;
	trasition: all 1s;
}


/*	Menu (desktop)
================*/

@media(min-width: 768px) {
	.page-menu .menu {
		display: none;
	}

	.menu-container {
		opacity: 1;
		background: transparent;
	}

	.page-menu .menu-container a {
		display: inline-block;
		padding: 5px 10px;
		opacity: 0.5;
		transition: opacity 0.5s;
	}
	.page-menu .menu-container a:hover {
		opacity: 1;
	}

/*	.page-menu .menu-container a:first-child {
		border-right: 1px solid white;
	}
	.page-menu .menu-container a:nth-child(2) {
		border-right: 1px solid white;
	}*/

}

/* Containers
================*/
.page-body {
	width: 100%;
	padding: 50px 0;
}

.page-grid {
	padding: 15px;
	margin: 0 auto;
}

/* Font Icon
================*/

.icon {
	font-family:'Clappr';
	font-weight: normal;
	font-size: 15em;
	font-style: normal;
	line-height: 0.7;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	height: 50px;
}

.icon.logo:before {
	color: white;
	font-size: 1.7em;
	content: "\e001";
}

span.icon.logo {
	display: block;
	position: relative;
}

.icon.github:before {
	content: "\e002";
}

.icon.extensible:before {
	content: "\e003";
}

.icon.batteries:before {
	content: "\e004";
}

/* Block Style
================*/

.block {
	color: rgb(54, 54, 54);
	display: inline-block;
	width: 32%;
	min-height: 200px;
	text-align: center;
	margin-left: 0.48%;
	margin-right: 0.48%;
	padding: 15px;
}

.block h2 {
	line-height: 2;
}

/* Code block
=================*/

.code-block .code-embedded {
	margin: 0 auto;
	min-height: 150px;
	width: 80%;
	background: rgb(40, 40, 40);
}

.code-block h2 {
	color: white;
	font-weight: normal;
	margin-bottom: 50px;
	text-align: center;
}

/* Whos use block
================*/

.whos-use {

}

.whos-use h2 {
	text-align: center;
	color: rgb(54, 54, 54);
	margin-bottom: 50px;
}
.whos-use img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 80%;
}


@media(min-width: 768px) {

	.whos-use img {
		display: inline-block;
		margin-left: 6%;
		width: auto;
		margin-bottom: 0;
	}

	.whos-use .img-container {
		margin: 0 auto;
		width: 50%;
	}
}

@media(min-width: 823px) and (max-width: 1000px) {

	.whos-use {
		
	}

	.whos-use img {
		display: inline-block;
		margin-left: 8%;
		width: auto;

	}
}


@media(min-width: 1000px) {

	.whos-use img {
		display: inline-block;
		margin-left: 13%;
		width: auto;
	}
}


/* Top message
================*/

.page-message {
	text-align: center;
	padding: 25% 0 0 0;
}

.page-message h1, {
	color: white;
	font-size: 4em;
	font-weight: normal;
}

.page-message h2 {
	position: relative;
	top: 25px;
	color: white;
	font-weight: normal;
	display: block;
}

/* Media Queries
================*/

@media(max-width: 480px) {
	.page-message span.logo {
		font-size: 8em;
	}

}

@media(max-width: 767px) {
	.page-grid {
		width: 95%;
	}

	.block {
		margin-top: 75px;
	}
}

@media (min-width: 768px) and (max-width: 1054px) {
	.page-grid {
		width: 100%;
	}
}

@media(min-width: 1055px) {
	.page-grid {
		width: 1055px;
		margin: 0 auto;
		padding: 15px;
	}
}

@media(max-width: 768px) {
	.block {
		width: 100%;
	}
}

@media(min-width: 768px) {
}