@font-face {
	font-family: 'Clappr';
	src: url('fonts/Clappr-Regular.eot');
	src: url('fonts/Clappr-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Clappr-Regular.ttf') format('truetype'),
	url('fonts/Clappr-Regular.svg#clappr') format('svg');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}

.shadow {
  text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.5);
}
.page-container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.page-img-full {
	width: 100%;
	height: 100%;
	background-image: url(http://s2.glbimg.com/j-Rv_ELk8kRt_U-2-p5osAtsbEA=/2560x1440/http://s.glbimg.com/en/ho/static/thumbor/sample-image3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}

.page-img-full .img-layer {
	/*background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(20%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.85) 100%); /* W3C */
	width: 100%;
	height: 100%;
}

.page-body {
	width: 100%;
	background: rgb(235, 222, 222);
}

.page-grid {
	padding: 15px;
}


@media(max-width: 768px) {
	.page-grid {
		width: 95%;
	}
}
@media(min-width: 960px) {
	.page-grid {
		width: 1055px;
		margin: 0 auto;
		padding: 15px;
	}
}


.icon {

	font-family:'Clappr';
	font-weight: normal;
	font-size: 15em;
	font-style: normal;
	line-height: 0.7;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	height: 50px;

}

.icon.logo:before {
	content: "\e001";
}

.icon.github:before {
	content: "\e002";
}

.icon.extensible:before {
	content: "\e003";
}

.icon.batteries:before {
	content: "\e004";
}

.block {
	color: rgb(54, 54, 54);
	display: inline-block;
	width: 32%;
	min-height: 200px;
	text-align: center;
	margin-left: 0.7%;
	margin-right: 0.2%;
	margin-top: 75px;
	padding: 15px;
}

@media(max-width: 768px) {
	.block {
		width: 100%;
	}
}

@media(min-width: 768px) {
	.block {
		min-height: 330px;
	}
}
.page-message {
	text-align: center;
	padding: 20% 0 0 0;
}

.page-message h1, {
	color: white;
	font-size: 4em;
	font-weight: normal;
}

.page-message h2 {
	color: white;
	font-weight: normal;
}
